# MongoDB Configuration
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin

# Mongo Express
ME_CONFIG_MONGODB_SERVER=mongodb
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=admin

# Notification Service - Telegram Bot
TELEGRAM_BOT_TOKEN=7715541625:AAFkoVyrNhJj9_bb6mp8ri_k1B5TBFFAxK0
TELEGRAM_BOT_USERNAME=@SpeechToTextVictoria_Bot

# Notification Service - Email
SMTP_PORT=587
SMTP_SERVER=smtp.gmail.com
EMAIL_ADDRESS=akioralol@gmail.com
EMAIL_PASSWORD=dbmm vkex blxh qwyy
